doctype html
html.no-js(lang='en')
	block vars
	- var sections = locals['sections']
	- var posts = locals['posts']
	head
		meta(charset="utf-8")
		title #{title} | Super Simple Site Generation with jade, gulp and JSON
		meta(name='description', content='#{description}')
		meta(name="keywords", content="#{keywords}")
		include ../_inc/head.jade
	body(class='#{page}')
		include ../_inc/header.jade
		block content
		include ../_inc/footer.jade
		include ../_inc/foot.jade