//- Add anything here that would be loaded just before the closing body tag on every page

//- loads the JADE locals to the js memory
script.
	var posts = !{JSON.stringify(locals['posts'])} || '';

script(src='/public/js/main.js')