//- Add anything here that would be loaded in the head tag on every page
link(rel="icon" href="/favicon.ico")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="author", content="Jason Lydon @bushwa")
link(rel="stylesheet" media="screen" href="/public/styles/main.css")