extends _templates/main
block vars
	- var title = 'About Us'
	- var description = 'No need for a library'
	- var keywords = 'jade,node,gulp,json,static site generation'
	- var page = 'page-about'

block content
	div(class="main-content", role="main")
		section.intro
			h1 About Us
			p Too simple to not use!